<div class="hero-unit">
  <img src="img/accumulo-logo.png"></img>
  <p>Apache Accumulo™ is a sorted, distributed, robust, scalable, high performance key/value store with cell-based access control and a server-side programming mechanisms. </p>
</div>
<div class="row-fluid">
  <div class="span3">
    <h2>Monitor</h2>
    <p>An homage to the original Accumulo Monitor page with a healthy helping of Javascript and AJAX.</p>
    <p>
      <a class="btn" href="#/monitor">Try it &raquo;</a>
    </p>
  </div>
  <div class="span3">
    <h2>Shell</h2>
    <p>Just like the Accumulo shell, but on a webpage. For better or worse.</p>
    <p>
      <a class="btn" href="#/shell">Try it &raquo;</a>
    </p>
  </div>
  <div class="span3">
    <h2>Proxy</h2>
    <p>In case good enough should have been left alone, the original web interfaces are still available.</p>
    <p>
      <a class="btn" href="#/proxy">Try it &raquo;</a>
    </p>
  </div>
  <div class="span3">
    <h2>REST</h2>
    <p>Endpoints that make this site possible. Built with RESTEasy JAX-RS.</p>
    <p>
      <a class="btn" href="#/rest">Try it &raquo;</a>
    </p>
  </div>
</div>